body {
    margin: 0;
    padding: 0;
    font-family: Arial, helvetica, sans-serif;
    background-color: rgb(254, 122, 14);
    }
    
    #container {
    width: 70%;
    min-width: 800px;
    margin: 2em auto;
    border: 1px solid #dddddd;;
    background-color: #ffffff;
    }
    
    header {
    background-image:url(./pics/citrus.jpg);
    background-repeat: no-repeat;
    height: 100px;
    }
    
    header h1 {
    margin: 0;
    position: relative;
    top: 35px;
    left: 180px;
    }
    
    header img {
    float: right;
    margin-right: 1em;
    }
    
    nav {
    background-color: rgb(80,80,80);
    padding-top: 1em;
    padding-bottom: 1em;
    display:flex;
    justify-content: space-between;
    }
    
    nav a {
    text-decoration: none;
    font-weight: 900;
    color: #ffffff;
    }
    
    nav a:hover {
    text-decoration: underline;
    
    }
    nav span.sel{
    color: rgb(254, 122, 14);
    font-weight: 900;
}
    
    
    nav ul {
    list-style: none;
    }
    
    nav li {
    display: inline;
    }
    
    nav li:after {
    font-size: 125%;
    content: " | ";
    }
    
    nav li:last-child:after {
    content: "";
    }
    
    aside {
    margin: 1em;
    padding: 1em;
    background-color: #eeeeee;
    text-align: center;
    }
    
    main {
    padding-left: 2em;
    padding-right: 2em;
    }
    
    footer {
    margin: 1em;
    padding: 1em;
    text-align: center;
    font-size: smaller;
    border: 1px solid black;
    background-color: #eeeeee;
    }
    
    
    
    .info {
        background-color: #eeeeee;
        color: rgb(254, 122, 14);
        padding: 1em;
        font-size: 75%;
    }
    table{
        
        border: solid black 1px;
        background-color: grey;
        
        
    }
    #login{
        margin-left: auto;
        margin-right: 20px;
    }

    input{
        border:solid black 1px;
        
    }
    button{
        border: solid black 1px;
        padding: 10px;
    }
    form{
        border: solid black 2px;
        background-color: lightgrey;
        
    }
    .order{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    label{
        width: 80px;
        display: inline-block;
    }
    form > div{
        display:flex;
        align-items: center;
        margin-top: 5px;
    }