html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    

}
header{
    box-shadow: 0 1px 5px rgba(104,104,104, 0.8);
    border-radius: 1rem;
    
}
    

body{
    background:#333;
    margin: 30px  50px;
    line-height: 1.4;
    
}



h1{
    text-align: center;
    background: #ddd;
    padding: 3rem;
    font-size: 45px;
    border-radius: 1rem;

}
input[type=text], textarea{
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    
    resize: vertical;
    background: #ddd;
    border-radius: 1rem;
    
}

a:visited{
    color: #fff;
}

footer{
        
    background:#333;
    color:#fff;
    text-align: center;
    padding: 2rem;
    margin-top: 180px;
    border-radius: 1rem;
    border: #fff solid;
}
    
