html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    width: 100%;
    height: 100%;

}
header{
    box-shadow: 0 1px 5px rgba(104,104,104, 0.8);
    border-radius: 1rem;
    
}
body{
    background: #333;
    margin: 30px  50px;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    
}

h1{
    text-align: center;
    background: #ddd;
    padding: 3rem;
    font-size: 45px;
    border-radius: 1rem;

}
h2{
    color:#fff;
}
p{

    color: #fff;
}

img{
    box-shadow: 0 1px 5px rgba(104,104,104, 0.8);
    
}
a:visited{
    color: #fff;
}




footer{
        
    background:#333;
    color:#fff;
    text-align: center;
    padding: 2rem;
    margin-top: 200px;
    border-radius: 1rem;
    border:#fff solid;

    
}

